<ng-container *ngIf="data$ | async as data">
    <div *ngIf="data.userProfile" class="profile-page">
        <div class="banner">
            <img width="100px" [src]="data.userProfile.image" alt="User Profile Picture">
            <h1>{{ data.userProfile.username }}</h1>
            <p>{{ data.userProfile.bio }}</p>
            <app-follow
                *ngIf="!data.isCurrentUserProfile" 
                [username]="data.userProfile.username" 
                [isFollowing]="data.userProfile.following"
            >
            </app-follow>
        </div>
        <div class="feed">
            <a
                mat-raised-button
                [routerLink]="['/profiles', data.userProfile.username]"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
            >
                My Posts
            </a>
            <a
                mat-raised-button
                [routerLink]="['/profiles', data.userProfile.username, 'favorites']"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
            >
                Favorite Posts
            </a>
            <app-feed [apiUrl]="getApiUrl()"></app-feed>
        </div>
    </div>
</ng-container>